<li id="post-<%= post._id %>">
    <p>
        <% if (locals.recruiter && locals.recruiter.id == post.user.id){ %>
        <small>
            <a class="delete-post-button"  href="/posts/destroy/<%= post.id %>">X</a>
        </small>
        <% } %>
        <%= post.jobTitle %>
        <%= post.skillSet %>
        <%= post.content %>
        <br>
        <!-- <small>
            <%= post.user.name %>
        </small> -->

    </p>
</li>